.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #F1F1F1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
  .content {
    max-width: 1178px;
    margin: 0 auto;
    padding: 52px 10px 37px;
}