.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.containerEnter {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #F4F5F6;
}

.modalBlock {
  position: absolute;
  z-index: 2;
  left: calc(50% - (366px/2));
  top: calc(50% - (439px/2));
  opacity: 1;
}

.form {
  width: 366px;
  height: 439px;
  background-color: #FFFFFF;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 43px 47px 47px 40px;
}

.modalLogo {
  width: 140px;
  height: 21px;
  margin-bottom: 34px;
  background-color: transparent;
}

.modalLogo img {
  width: 140px;
  height: auto;
}

.error {
  background: rgb(241, 156, 156);
}

.login {
  margin-bottom: 38px;
}